<div class="container">
{{#if news}}
  <div class='row d-flex justify-content-center border-bottom mt-3 mb-3'>
    <div class='col-lg-8 mb-4'>
      <h1 class='card-title mb-2'>{{news.title}}</h1>
      <h6 class='card-subtitle text-muted'>Author: {{news.author}}</h6>
    </div>
    <div class='col-lg-8'>
      <img
        src='http://localhost:3000/{{news.cover}}'
        class='card-img-top'
        style='height: 100%; object-fit: cover;'
        alt=''
      />
    </div>
    <div class='col-lg-8 mt-2'>
      <p class='blockquote'>{{news.description}}</p>
    </div>
  </div>

  <form action=''>
    <div class='d-flex justify-content-center row'>
      <div class='col-lg-8 bg-light p-2'>
        <div class='mb-2'>
          <label for='author' class='form-label'>Author</label>
          <input class='form-control' name='author' id='author' />
        </div>
        <div class='mb-2'>
          <label for='message' class='form-label'>Message</label>
          <textarea
            class='form-control ml-1 shadow-none textarea'
            name='message'
            id='message'
          ></textarea>
        </div>
        <div class='mt-2 text-right'>
          <button
            class='btn btn-primary btn-sm shadow-none'
            type='button'
            onclick='sendForm()'
          >Post comment</button>
        </div>
      </div>
    </div>
  </form>

<!--  <div class='container justify-content-center border-left border-right py-3'>-->
    {{#if comments}}
      {{#each comments}}
        <div class='d-flex justify-content-center row border-bottom'>
          <div class='col-lg-8 p-2 mt-2'>
            <div class='d-flex justify-content-between'>
              <div class='d-flex flex-row user-info'>
                <img
                  class='rounded-circle'
                  src='{{#if this.avatar}}{{this.avatar}}{{else}}https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y{{/if}}'
                  style='width: 48px; height: 48px; object-fit: cover;'
                  alt='Avatar'
                />
                <div class='d-flex flex-column mx-3'>
                  <span
                    class='d-block font-weight-bold name'
                  >{{this.author}}</span>
                  <span class='date text-black-50'>Shared publicly - Jan 2020</span>
                </div>
              </div>
              <div class='h-25 p-0 m-0'>
                <button
                  class='btn btn-outline-secondary btn-sm border-0 py-0 px-1 mx-1'
                  type='button'
                >Edit</button><button
                  class='btn btn-outline-secondary btn-sm border-0 py-0 px-1'
                  type='button'
                  style='font-weight: bold'
                >&#x2715;</button>
              </div>
            </div>

            <div class='mt-2 mb-2'>
              <p class='card-text' style="font-weight: lighter">{{this.message}}</p>
            </div>

          </div>
        </div>
      {{/each}}
    {{else}}
    <div class='container'>
      <div class="row">
        <div class="col-lg-8 my-4 mx-auto">
          <h4>There are no comments yet!</h4>
        </div>
      </div>
    </div>
    {{/if}}
{{/if}}
</div>

<script>
    function sendForm() {
        const idNews = window.location.pathname.split('/').reverse()[0];
        const data = ($('form').serializeArray());
        var comment = {};
        $.each(data, function(i, field) {
            comment[field.name] = field.value;
        });
        console.log(comment);
        $.ajax({
            url: '/comments/api/' + idNews,
            headers: {
                "Authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE2ODY2NDY4NzYsImV4cCI6MTY4NjY1MDQ3Nn0.aLV7bygnZ6Wv9tB72EacT_55ClX3QV52J-9Rgec5OoM"
                        // "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6OSwiaWF0IjoxNjg2MzI3MjgxLCJleHAiOjE2ODYzMzA4ODF9.oj3koYTe1firmpVNyhNcfVWpTaHkNvHLR8pAiWN779I"
            },
            // data: {
            //     firstName: $('#firstName')[0].value,
            //     email: $('#email')[0].value,
            //     password: $('#password')[0].value,
            // },
            data: comment,
            // data: {
            //     author: $('#author')[0].value,
            //     message: $('#message')[0].value,
            // },
            cache: false,
            contentType: false,
            processData: false,
            method: 'POST',
            success: function () {
                window.location.reload();
            }
        });
    }
</script>
