<table>
    <tr>
        <td>Title</td>
        <td>{{title}}</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{description}}</td>
    </tr>
    <tr>
        <td>Author</td>
        <td>{{author}}</td>
    </tr>
    <tr>
        <td>Link to the news</td>
        <td>
            <a href="http://localhost:3000/news/detail/{{id}}">
                http://localhost:3000/news/detail/{{id}}
            </a>
        </td>
    </tr>
</table>
